.cartao{
	width: 870px;
	height: 200px;
	border-radius: 5px;
	background-color: #e6e6e6;
}

.cartao2{
	width: 870px;
	height: 200px;
	border-radius: 5px;
	background-color: #e6e6e6;
}

.cartao3{
	width: 870px;
	height: 200px;
	border-radius: 5px;
	background-color: #e6e6e6;
}
